* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    height: 100vh;
}

header {
    background-color: cadetblue;
    background-image: url(../img/pattern.png);
    height: 100px;
    width: auto;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
}

#logo_booleaner {
    width: 200px;
    height: auto;
    padding-top: 40px;
    padding-left: 10px;
}

.yellow_text {
    background-color: yellow;
}

.cyan_text {
    color: rgb(0, 110, 255);
}

.tiny_font {
    font-size: 13px;
}

.main_section {
    margin-top: 20px;
}

#title {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 600;
}

#main_img {
    margin-top: 20px;
}

#main_list {
    margin-top: 20px;
    margin-left: 20px;
}

.cyan_bg {
    background-color: rgb(0, 110, 255);
}

.azzurro_bg {
    background-color: aqua;
}

.white_text {
    color: white;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

.size_half {
    width: 50%;
}

footer {
    margin-left: 10px;
    margin-top: 20px;
}

h2 {
    color: gray;
}

#monitor {
    background-image: url(../img/monitor.jpg);
}

#graph {
    background-image: url(../img/graph.jpg);
}

.picture {
    width: 250px;
    height: 200px;
    margin: 10px 0px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

/* HOMEPAGE */
main .jumbo {
    background-image: url("../img/pattern.png");
    background-size: contain;
    max-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home-title {
    color: rgb(26, 26, 26);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding: 20px;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(164, 164, 255, 0.274);
}

main .brand {
    color: #4c84fd;
}

@media screen and (max-width: 768px){
    main .home-title {
        text-align: center;
        font-size: 40px;
        padding: 0 20px;
    }
}

.articles {
    margin: 20px 0;
    padding: 30px 0;
    background-color: #9CD6F4;
}

.articles * {
    color: #000;
}

.today-articles {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
}

.articles h2 {
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.box-article {
    width: 350px;
    max-width: 350px;
    height: 250px;
}

.box-article img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}